<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532784339260-vmh2jlg5gnu98dbdri2e9var8b3h94a3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532784339260-vmh2jlg5gnu98dbdri2e9var8b3h94a3</string>
	<key>API_KEY</key>
	<string>AIzaSyBI_nHHqsbejyX48kizHH0GP5-CBL5CuRk</string>
	<key>GCM_SENDER_ID</key>
	<string>532784339260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adriyo.SwiftComick</string>
	<key>PROJECT_ID</key>
	<string>comick-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>comick-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532784339260:ios:155661826346f49f496639</string>
</dict>
</plist>